<div>
    <div>
        <form ng-submit="getLink()">
            <label for="url">Enter your long URL:</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="urlForm.url" id="url" required/>
                <span class="input-group-btn">
                    <button type="submit" class="btn">GetLink</button>
                </span>
            </div>
        </form>
    </div>
    <div class="top-buffer" ng-hide="urlForm.shortUrl == ''">
        <mark><a href="{{urlForm.shortUrl}}" id="result">{{urlForm.shortUrl}}</a></mark>
        <button class="btn btn-sm" ngclipboard data-clipboard-target="#result">Copy</button>
    </div>
    <div ng-hide="urlForm.error == ''">
        <label class="label label-danger" ng-bind="urlForm.error"></label>
    </div>

</div>