<input type="button" value="Refresh" ng-click="getList()" />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Short Link</th>
            <th>Original Link</th>
            <th>Creation Date</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="url in urlList">
            <td><a target="_blank" href="{{url.shortLink}}">{{url.shortLink}}</a></td>
            <td><a target="_blank" href="{{url.originalLink}}">{{url.originalLink}}</a></td>
            <td>{{url.creationDate  | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{url.count}}</td>
        </tr>
    </tbody>
</table>